p{
    border: soled 1px;
    background-color: aqua;
    padding: 2px;
}
.container
{
    background-color:darkcyan;
    width: 230px;
    padding: 10px;
    box-shadow:10px darkgrey;
}
table
{
    text-align: center;
}
input{
    background-color:darkgrey;
    width: 40%;
    padding: 5px;
}
button{
    background-color: White;
    padding: 7px;
}